{% extends 'base.html' %}

{% block content %}
<h3>Add new interest</h3>
<form action="/add_page" method="post">
    {{form.hidden_tag()}}
    Enter Interest title:
    {{form.title}} <br />
    {% for error in form.title.errors %}
    <i>{{error}}</i><br />
    {% endfor %}
    Enter url for interest page:
    {{form.url}} <br />
    {% for error in form.url.errors %}
    <i>{{error}}</i><br />
    {% endfor %}
    Select an Interest Category:
    {{form.category}} <br />

    <input type="submit" value="Add Interest">
    <br />
    {% if message %}
    <strong>{{message}}</strong>
    {% endif %}
</form>

{% endblock %}